@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
}
body {
  background: url('../img/bg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#nav {
  background-color: #d90d2c;
}
nav {
  color: #fff;
  font-size: 1.6rem;
}
nav #brand-logo {
  font-size: 2.8rem;
  color: #fff;
}
nav .nav-link {
  color: #fff;
}
nav .navbar-toggler {
  background-color: #fff;
}
nav .nav-link:hover {
  color: rgba(240, 248, 255, 0.596);
  cursor: pointer;
}
#leading {
  background: url('../img/leading.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
}
#leading h1 {
  color: #fff;
  font-size: 6.2rem;
}
#see-more-btn {
  padding: 1rem 2rem;
  border: 0.2rem solid #fff;
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  z-index: 1;
  position: relative;
}
#leading #see-more-btn::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  z-index: -1;
  background-color: #dd0a2d;
  transition: transform 0.3s ease;
  transform-origin: left;
}
#leading #see-more-btn:hover::before {
  transform: scaleX(1);
}
@media screen and (max-width: 770px) {
  #leading h1 {
    font-size: 3rem;
  }
}

#products {
  padding: 2rem;
  margin-bottom: 5rem;
}

.card > img {
  height: 250px;
  transition: filter 0.3s ease;
}

.card:hover img {
  cursor: pointer;
  filter: blur(0.1rem);
}
#products #see-more-btn {
  margin-top: 5rem;
  border-radius: 5rem;
  border: 3px solid #222;
  color: #222;
}
#products #see-more-btn:hover::before {
}
#products #see-more-btn:hover {
  transform: translateY(-5px);
}

#left,
#right {
  color: #fff;
  font-weight: 500;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  cursor: pointer;
}
#left:hover,
#right:hover {
  filter: blur(1px);
}
#left::before,
#right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22222248;
  z-index: -1;
}

#left h1,
#right h1 {
  font-size: 4.8rem;
  text-shadow: 1px 1px 10px #222;
}

#left {
  background-image: url('../img/Outdoor.jpg');
}

#right {
  background-image: url('../img/christmas_tree.jpg');
}

@media screen and (max-width: 640px) {
  #left h1,
  #right h1 {
    font-size: 2.8rem;
  }
}
