@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
nav {
  color: black;
  font-size: 1.6rem;
}
nav #brand-logo {
  font-size: 2.8rem;
}
nav .nav-link {
  color: black;
}
nav .nav-link:hover {
  color: rgba(240, 248, 255, 0.596);
  cursor: pointer;
}
#leading {
  background: url("../img/leading.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
}
#leading h1 {
  color: #fff;
  font-size: 6.2rem;
}
#leading #see-more-btn {
  padding: 1rem 2rem;
  border: 0.2rem solid #fff;
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  z-index: 1;
  position: relative;
}
#leading #see-more-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  z-index: -1;
  background-color: #dd0a2d;
  transition: transform 0.3s ease;
  transform-origin: left;
}
#leading #see-more-btn:hover::before {
  transform: scaleX(1);
}
@media screen and (max-width: 770px) {
  #leading h1 {
    font-size: 3rem;
  }
}
